<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="isjson.ZPM">
    <Module>
      <Name>isjson</Name>
      <Version>1.0.5</Version>
      <Description>check format of JSON string</Description>
      <Keywords>JSON, COS, SYS</Keywords>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>pretty-json</Name>
          <Version>1.*.*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="ZZISJSON.INC"/>
    </Module>
  </Document>
</Export>
